<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Comparison
        </title>
<!-- Bring in our bootstrap stylesheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/css/style.css">   
    </head>
       
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="star.html">What makes a good movie?</a>
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="statistics.html">Movie Statistics</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="comparison.html">Movie Success</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="data.html">Movie Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="jumbotron text-center">
            <h1> Comparison: Oscar Winners vs. Non-Oscar Winners</h1>
        </div>
        <div class="row">
            <main role="main" class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div id="budget"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="revenue"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="ratings"></div>
                    </div>
                    <div class="col-md-6">
                    </br></br>
                        <p>The data shows since the 1980s, Oscar-nominated movies have typically had higher budgets than non-Oscar nominated movies.  Since the 1960s, Oscar-nominated movies have generated more box-office revenue than non-Oscar movies, but audience ratings appear to have little to no effect on whether or not the movie is a potential Oscar-nominated movie.</p>
                          </br>
                        <p> Given this data, the next steps in creating a potential Oscar-nominated movie would be to find what features of a movie draw more crowds and hence more revenue.</p>
                    </div>
                    </div>
                </div>
            </main> 
        </div>
        <div id="footer">
            <p>May the "for (ce : B => {u});"</p>
        </div>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="../static/js/OscarComp.js"></script>
        <!-- <script src="{{ url_for('static', filename='js/OscarComp.js') }}"></script> -->
    </body>

</html>
    