<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Movie Data</title>
    <!-- Bring in bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="container">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="star.html">What makes a good movie?</a>
            <!-- Toggler/collapsibe Button
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- Navbar links -->
            <div id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="statistics.html">Movie Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="oscar.html">Movie Success</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="data.html">Movie Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content of Movie Data page -->
    <div class="hero text-center">
        <h1>Movie Database</h1>
        <p>Pop the Corn!!</p>
    </div>
    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-2">
                <aside class="filters">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter Search</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Year</label>
                                            <input class="form-control" id="Year" type="text" placeholder="YYYY">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Title</label>
                                            <input class="form-control" id="Title" type="text" placeholder="Title">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Director</label>
                                            <input class="form-control" id="Director" type="text"
                                                placeholder="Director">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Actors</label>
                                            <input class="form-control" id="Actors" type="text"
                                                placeholder="Actor Name">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">IMDB</label>
                                            <input class="form-control" id="IMDB" type="text" placeholder="IMDB ID">
                                        </li>
                                    </ul>
                                </div>
                                <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-10">
                <div id="table-area" class="">
                    <table id="movie-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-head">Year</th>
                                <th class="table-head">Title</th>
                                <th class="table-head">Director</th>
                                <th class="table-head">Actors</th>
                                <th class="table-head">IMDB ID</th>
                                <th class="table-head">Rating</th>
                                <th class="table-head">Plot</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <div id="footer">
        <p>The Coding Boot Camp&copy;2020</p>
    </div>
    <!-- <footer id="footer">
        <span class="bottom">Movie Database</span>
    </footer> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script src="data.js"></script> -->
    <script src="assets/js/movie_data.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/dataScripts.js') }}"></script> -->
</body>

</html>