<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Movie Statistics</title>
  <!-- Bring in bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- style css -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="star.html">What makes a good movie?</a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="statistics.html">Movie Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comparison.html">Movie Success</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">Movie Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="jumbotron text-center">
      <div class="row">
        <div class = "col-md-2">
            <img src = ../static/images/video-camera.png height = "100" width = "100">
        </div>
        <div class="col-md-8">
          <h1>Movie Statistics by Year</h1>
          <p>Below you will find interactive charts to explore movie statistics by year</p>
        </div>
        <div class = "col-md-2">
            <img src = ../static/images/video-camera.png height = "100" width = "100">
        </div>  
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>Year of Movie's Release:</h5>
          <select id="selDataset"></select>
        </div>
      </div>
      <div class="col-md-8"></div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div id="plot"></div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Most Profitable Movie of the Year</h4>
          </div>
          <table id="sample-metadata" class="table table-striped">
            <tbody></tbody>
          </table>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
    </div>

    <br>

    <div id="bubble"></div>
  </div>

  <div id="footer">
    <p>May the "for (ce : B => {u});"
    </p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script src="/madeUpData.js"></script> -->
  <script src="/static/js/statistics.js"></script>
</body>

</html>